{{! breadcrumb }}
<div class="container py-3 px-5 d-flex justify-content-between">
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My posts</li>
    </ol>
  </nav>
  {{#if (isEmpty amountPostInTrash)}}{{else}}
    <a class="position-relative text-decoration-none" href="/me/trash">
      <i id="trash" class="fs-3 text-dark fa-solid fa-trash"></i>
      <label
        class="position-absolute top-0 translate-middle text-danger bg-white border-danger border px-2 rounded-circle fw-medium"
        for="trash"
      > {{amountPostInTrash}} </label>
    </a>
  {{/if}}
</div>

<div class="container">
  <table class="table text-center">
    <thead>
      <tr class="">
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Date post</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
        <tr>
          <th scope="row">{{increaseOne @index}}</th>
          <td>{{this.title}}</td>
          <td>{{this.createdAt}}</td>
          <td class="d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-secondary"><a
                class="text-decoration-none text-white"
                href="/posts/{{this._id}}/form-update"
              >Update</a></button>
            <button
              type="button"
              data={{this._id}}
              class="delete-btn btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >Delete</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if (isEmpty posts)}}
    <div class="text-center mt-5 shadow p-5 w-50 mx-auto">
      <h5>You have no posts</h5>
      <a href="/posts/form-create">Write a post</a>
    </div>
  {{/if}}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        the post will be delete from your list!
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>
        <form id="form-delete" method="post">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const deleteForm = document.querySelector('#form-delete'); const deleteButtons
  = document.querySelectorAll('.delete-btn'); for(const btn of deleteButtons) {
  btn.addEventListener('click', () => { deleteForm.setAttribute('action',
  `/posts/${btn.getAttribute('data')}/delete?_method=DELETE`); }) }
</script>